<%= hidden_field :authorization_handler, :handler_name, value: "phone_authorization_handler" %>
<div class="card-section">
  <div class="field">
    <%= form.text_field :phone_number, label: t("authorization_handlers.phone_authorization_handler.fields.phone_number", scope: "decidim") %>
    <p><%= t(".email_recuperation_message") %></p>
  </div>
</div>
