<%= hidden_field :authorization_handler, :handler_name, value: "phone_authorization_handler" %>
<div class="card-section">
  <div class="field">
    <%= form.number_field :phone_number %>
  </div>
</div>
